<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>1 | MVC (Model-View-Controller)</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
	<div ng-app="myLangApp">
		<div ng-controller="languages">
			Select you favorite language: 
			<button ng-click="php()">PHP</button>
			<button ng-click="js()">JS</button>
			<button ng-click="java()">Java</button>
			<button ng-click="css()">CSS</button>

			<p>You Have selected: {{ myFavLanguage }} </p> 
		</div>
	</div>
		
		

		<!-- ******Jquery GOOGLE CDN***** -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Angular-->
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
		<script>
			var application = angular.module('myLangApp', [])
			application.controller('languages', function($scope) {
				$scope.myFavLanguage= 'None'

				$scope.php = function() {
					$scope.myFavLanguage = 'PHP'
				}

				$scope.js = function() {
					$scope.myFavLanguage = 'JavaScript'
				}
				$scope.java = function() {
					$scope.myFavLanguage = 'Java'
				}
				$scope.css = function() {
					$scope.myFavLanguage = 'Css'
				}
			})

		</script>
	</body>
</html>